.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

body {
  margin: 0;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  background-color: #ffeead;
}

.container > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
}

.container > div:nth-child(3) {
  background-color: #88d8b0;
}
