.column {
    display: flex;
    flex-direction: column;
    float: left;
}

.flex-container > div {
    background-color: #FFFF66;
    border-style: dashed;
    width: 326px;
    margin: 10px;
    text-align: center;
    line-height:60px;
    font-size: 18px;
    font-weight: bold;

}


.flex-container > div> a:any-link {
    text-decoration: none;
}

.flex-container > div>div> a:any-link {
    text-decoration: none;
}

.flex-container > div> a:hover {
    text-decoration: underline;
}

.flex-container > div> div> a:hover {
    text-decoration: underline;
}

.flex-container > div:nth-child(10){
    line-height: 20px;
}

