.container {
  border: 15px solid #ffcc5c;
  display: flex;
  margin-left: 20%;
  padding-top: 30%;
  justify-content: center; /* Centering Horizontally */
  align-items: center/* Centering Vertically */
  /*float: left;*/
}