
.container > div {
  padding: 10px;
  text-align: center;
  font-size: 4em;
  color: #ffeead;
  width: 400px;/*Length of each box*/
}

body {
  margin: 0;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  background-color: lightseagreen;
}

.container > div:nth-child(1) {
  background-color: rebeccapurple;

}

.container > div:nth-child(2) {
  background-color: #ff6f69;

}

.container > div:nth-child(3) {
  background-color: cornflowerblue;
}
