/* flex-start flex-end center space-around
space-between space-evenly */
.container {
  border: 5px solid #ffcc5c;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.container2 {
  border: 8px solid darkred;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  background-color: indianred;
}

.container3 {
  border: 10px solid deepskyblue;
  display: flex;
  /*justify-content: space-evenly;*/
  justify-content: space-between;
  margin: 20px;
  background-color: #FFFF66;
}

/* flex-start flex-end center space-around
space-between space-evenly */

.home2{
  border: 5px dashed yellow;
}

.search2{
  border: 7px dashed lightseagreen ;
  margin-left: auto;
}

.logout2{
  border: 3px dashed black;
}


.home3{
  border: 5px dashed yellow;
}

.search3{
  border: 8px solid grey ;

}

.logout3{
  margin-left: auto;
  border: 10px solid darkred;
}