.container {
  border: 15px solid #ffcc5c;
  display: flex;/*Converted the data to flex box*/
  justify-content: center; /* Centering Horizontally */
  align-items: center/* Centering Vertically */
  /*float: left;*/
}

.home{
  flex:1 ;  /*Others will be permanent/fixed.
  This will be flexible. İt is a shorthand operator for 3 flex feature-shrink,grow,basis*/
}

/*

Basic Styles

*/

.container > div {
  padding: 10px;
  position: center;
  text-align: center;
  font-size: 2em;
  color:darkred;
}

html, body {
  background-color: #ffeead;
}

.container > div:nth-child(1) {
  background-color: #96ceb4;
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
  width: 50%; /*It will always cover half*/
}

.container > div:nth-child(3) {
  background-color: #88d8b0;

}


