body{
    background: darkcyan;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: self-start;
    width: 40%;
    height: 80%;
    background: #1B244A;
    margin-left: 30%;
    border: thick solid white;
    border-radius: 10px;
}


.home{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}


.guest{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.header1{

    width: 149px;
    height: 36px;
    margin-left: 10%;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

.header2{
    width: 149px;
    height: 36px;
    margin-right: 20%;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

.leftBox{
    margin-left: 12%;
    width: 60%;
    padding-top: 20%;
    padding-bottom: 20%;
    background: black;
    color: #F94F6D;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
}

.rightBox{
    margin-right: 5%;
    width: 60%;
    padding-top: 20%;
    padding-bottom: 20%;
    background: black;
    color: #F94F6D;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;

}

.smallBoxLeft{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 12%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width:80%;
    height: 100px;
}

.smallBoxRight{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width:80%;
    height: 100px;
}

.smallBoxLeft >div{
    border: solid #9AABD8;
    border-radius: 10px;
    color:#9AABD8 ;
    width:20%;;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.smallBoxRight >div{
    border: solid #9AABD8;
    border-radius: 10px;
    color:#9AABD8 ;
    width:20%;;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}


.smallBoxLeft>div:hover,
.smallBoxRight>div:hover
 {
    color: lightgoldenrodyellow;
    border: 2px solid lightgoldenrodyellow;
}
