.container1 {
  border: 15px solid #ffcc5c;
  display: flex;/*Converted the data to flex box*/
  justify-content: center; /* Centering Horizontally */
  align-items: center;/* Centering Vertically */
  height: 100%;
}

.home{
  flex:1 ;  /*Others will be permanent/fixed. This will be flexible Sadece bir tanesini esnek yapacaksak sayı değerinin kaç olduğunun farkı yok. Ama başkalarına da esneklik vereceksek bu sayı diğerlerinden kaç katı olacağını gösterir */
}

.container2 {
  background-color: #ff6f69;
  border: 15px dashed #ffcc5c;
  display: flex;            /*Converted the data to flex box*/
  height: 100%;             /*Freely moves without attached to the frame*/
  align-items: center;      /* Centering Vertically */
  justify-content: center;  /* Centering Horizontally */
}
/*

Basic Styles

*/

.container1 > div {
  padding: 50px;
  text-align: center;
  font-size: 2em;
  color:darkred;
}
.container2 > div {
  background-color: #96ceb4;
  display: flex;
  padding: 10px;
  text-align: center;
  font-size: 6em;
  color:blue;
}

html, body {
  background-color: #ffeead;
  height: 100%;
}

.body{
  margin: 0;
}

.container1 > div:nth-child(1) {
  background-color: #96ceb4;

}

.container1 > div:nth-child(2) {
  background-color: #ff6f69;
  width: 50%; /*It will always cover half*/
}

.container1 > div:nth-child(3) {
  background-color: #88d8b0;

}

.logout{
  align-self: flex-start;
}

.home{
  align-self: end;
}


